<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/download">Download</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/publication">Publication</a></li>
<li><a href="/application">Application</a></li>
<li><a href="/about">About</a></li>

</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:ceemq@nus.edu.sg">email</a></li>
   <li><a href="http://www.eng.nus.edu.sg/cee/people/ceemq/">Prof. Meng Qiang</a></li>
   <li><a href="mailto:cmszl@nus.edu.sg">Technique issue</a></li>
   </ul>
  </footer>
  </body>

</html>
